<style media="screen">
img {
  max-width: 200px;
  max-height: 200px;
}
</style>

<p id="notice"><%= notice %></p>

<h1><%= @article.tittle %></h1>

<p>
  <%= image_tag @article.image_url , align: 'right'%>
  <%= @article.body %>
</p>


<% if user_sign_in? %>
<%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
<%= link_to 'Back', articles_path %>
